<script type="text/template" id="t-school-list">
    <div class="esp-header school-data">
        <h2>School Data</h2>
        <div class="esp-border">&nbsp;</div>
    </div>
    <div class="dx-form-group">
        <div class="esp-form-container">
            <div id="schoolGridContainer"></div>
        </div>
    </div>
</script>
