<script type="text/template" id="t-sidebar-menu">
    <div class="dx-form-group">
        <div id="sidebar-menu-treeview"></div>
        @*<div id="product-details" class="hidden">
            <img src="" />
            <div class="name"></div>
            <div class="price"></div>
        </div>*@
    </div>
</script>